tools/ins_sp.pl が html タグ直前の閉じ括弧の後ろに半角空白を挿入してしまう

現状の index.html に tools の各スクリプト (extract-url 以外) を実行すると次のように閉じタグ前に不適切な半角空白の挿入がされる

https://github.com/wot-jp-community/wot-architecture/pull/187#issuecomment-908895260

```sh
diff -u index.html <(
    .github/scripts/do_each wot-downstream/tools/{conv-num,document,ins_sp,interaction}.pl \
      < index.html
  )
```

```diff
-  <dt><dfn data-dfn-type="dfn" data-plurals="data schemas" id="dfn-data-schema">データスキーマ (Data Schema)</dfn></dt>
+  <dt><dfn data-dfn-type="dfn" data-plurals="data schemas" id="dfn-data-schema">データスキーマ (Data Schema) </dfn></dt>
```

実装としてはおそらくここで行われているように見えます
")<"
https://github.com/wot-jp-community/wot-downstream/blob/fa3d2f34fe7eaba84bbf8a9c47a0f02d74fd3f33/tools/ins_sp.pl#L17
")" + any chars
https://github.com/wot-jp-community/wot-downstream/blob/fa3d2f34fe7eaba84bbf8a9c47a0f02d74fd3f33/tools/ins_sp.pl#L19

もしこれらをまとめて修正するとすれば下記のような正規表現になりそうですね。

```perl
    s/\)(?!<)/\) /g;
```

ところで本件とはずれるかもしれませんが、下記の差分に関してはいかがですか。意図通りでしょうか?
"(D)TLS"→"(D) TLS"
```diff
-<p>セキュリティメカニズムは、通信スタックの様々な層に適用でき、多くの場合、互いに補完するために一緒に使用できる。例は、(D)TLS [<cite><a class="bibref" data-link-type="biblio" href="#bib-rfc8446" title="The Transport Layer Security (TLS) Protocol Version 1.3">RFC8446</a></cite>] / [<cite><a class="bibref" data-link-type="biblio" href="#bib-rfc6347" title="Datagram Transport Layer Security Version 1.2">RFC6347</a></cite>] 、IPSec [<cite><a class="bibref" data-link-type="biblio" href="#bib-rfc4301" title="Security Architecture for the Internet Protocol">RFC4301</a></cite>] 、OAuth [<cite><a class="bibref" data-link-type="biblio" href="#bib-rfc6749" title="The OAuth 2.0 Authorization Framework">RFC6749</a></cite>] 、およびACE [<cite><a class="bibref" data-link-type="biblio" href="#bib-rfc7744" title="Use Cases for Authentication and Authorization in Constrained Environments">RFC7744</a></cite>] である。セキュリティの分野横断的な性質により、正しいメカニズムを適用するために必要な情報は、<a href="#dfn-thing" class="internalDFN" data-link-type="dfn">Thing</a>の一般的なメタデータ内で提供するか、<a href="#dfn-interaction-affordance" class="internalDFN" data-link-type="dfn">相互作用のアフォーダンス</a>やフォームごとに特殊化することができる。</p>
+<p>セキュリティメカニズムは、通信スタックの様々な層に適用でき、多くの場合、互いに補完するために一緒に使用できる。例は、(D) TLS [<cite><a class="bibref" data-link-type="biblio" href="#bib-rfc8446" title="The Transport Layer Security (TLS) Protocol Version 1.3">RFC8446</a></cite>] / [<cite><a class="bibref" data-link-type="biblio" href="#bib-rfc6347" title="Datagram Transport Layer Security Version 1.2">RFC6347</a></cite>] 、IPSec [<cite><a class="bibref" data-link-type="biblio" href="#bib-rfc4301" title="Security Architecture for the Internet Protocol">RFC4301</a></cite>] 、OAuth [<cite><a class="bibref" data-link-type="biblio" href="#bib-rfc6749" title="The OAuth 2.0 Authorization Framework">RFC6749</a></cite>] 、およびACE [<cite><a class="bibref" data-link-type="biblio" href="#bib-rfc7744" title="Use Cases for Authentication and Authorization in Constrained Environments">RFC7744</a></cite>] である。セキュリティの分野横断的な性質により、正しいメカニズムを適用するために必要な情報は、<a href="#dfn-thing" class="internalDFN" data-link-type="dfn">Thing</a>の一般的なメタデータ内で提供するか、<a href="#dfn-interaction-affordance" class="internalDFN" data-link-type="dfn">相互作用のアフォーダンス</a>やフォームごとに特殊化することができる。</p>
```

> もしこれらをまとめて修正するとすれば下記のような正規表現になりそうですね。

修正後で大丈夫か実動作/脳内動作未確認ですが、`Schema) </dfn>` と空白が入らなくなったら大丈夫です。

> (D)TLS"→"(D) TLS 

こちらも宜しくない気がしますね。原文も `(D)TLS` だし一般にこのケースで空白は入れませんね。
例外ワード的に登録した方が良さそう。

閉じ括弧の半角空白処理としてまとめて修正 PR にして頂けますか？

https://github.com/wot-jp-community/wot-architecture/blob/0e87d2738669e0e6350aeef7acbdac8c966386c4/index.html#L3218
> 例えば、HTTP (S) 固有のもの、CoAP (S) 固有のもの

おそらくこのあたりももともと "HTTP(S)" や "CoAP(S)" ですね。

https://github.com/w3c/wot-architecture/blob/e2ee854b3777ae5769ba3ae589f01b2bdeb45705/index.html#L3317-L3318
> platform-specific messages (e.g., one for HTTP(S)
> dialects, one for CoAP(S) dialects, and one for MQTT


> 閉じ括弧の半角空白処理としてまとめて修正 PR にして頂けますか？

まず修正範囲を明らかにしたいと思います。
例外となる単語そのものを明らかにする必要があります。いまの時点では "(D)TLS" "HTTP(S)" "CoAP(S)" "Essential Claim(s)" があるだろうということを認識しています。本Issueではこれらを例外として認め、それ以外は空白を挿入するという従来の振る舞いで正しいですか。またもし、いくつか例外規定を設けるならば、それらは Perl スクリプト tools/ins_sp.pl  内にハードコードされていて問題ないですか。

https://github.com/wot-jp-community/wot-architecture/blob/0e87d2738669e0e6350aeef7acbdac8c966386c4/index.html#L1946
> WoTの接頭辞は、モノのウェブの概念のために特別に (再) 定義されている用語の曖昧さを回避するために用いる。

"(再)定義"ではなく" (再) 定義" で正しいですか。

> おそらくこのあたりももともと "HTTP(S)" や "CoAP(S)" ですね。

そのようですね。例外規定は一般的に幅広くではなく取りあえず必要なものを入れておくだけで十分とする方針かと思いますが、そもそもどの表記が正であるのかは @ashimura さんに確認して確定しましょう。